In [19]:
### 오라클 연결, 데이터를 pandas 변환
import oracledb
import pandas as pd

In [23]:
conn =  oracledb.connect(user='ora_user',password='1111',dsn='localhost:1521/xe')
query = 'select * from board'

# select 데이터가 df타입으로 변경되어 출력.
df = pd.read_sql_query(query,conn)
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_1556\3658996689.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,conn)

,BNO,ID,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,1,aaa,제목입니다.,내용입니다.,2024-04-29 10:04:59,1,0,0,1,None
1,2,bbb,제목입니다2.,내용입니다2.,2024-04-29 10:05:41,2,0,0,1,None
2,6,bbb,제목입니다2.,내용입니다2.,2024-04-29 12:21:07,6,0,0,1,None
3,4,aaa,제목입니다3.,내용입니다3.,2024-04-29 10:09:05,4,0,0,1,None
4,5,aaa,제목입니다.,내용입니다.,2024-04-29 12:21:07,5,0,0,1,None
5,7,aaa,제목입니다3.,내용입니다3.,2024-04-29 12:21:07,7,0,0,1,None
6,8,aaa,제목입니다.,내용입니다.,2024-04-29 14:52:48,8,0,0,1,None
7,9,bbb,제목입니다2.,내용입니다2.,2024-04-29 14:52:48,9,0,0,1,None
8,10,aaa,제목입니다3.,내용입니다3.,2024-04-29 14:52:48,10,0,0,1,None

In [24]:
conn.close()

In [25]:
df

,BNO,ID,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,1,aaa,제목입니다.,내용입니다.,2024-04-29 10:04:59,1,0,0,1,None
1,2,bbb,제목입니다2.,내용입니다2.,2024-04-29 10:05:41,2,0,0,1,None
2,6,bbb,제목입니다2.,내용입니다2.,2024-04-29 12:21:07,6,0,0,1,None
3,4,aaa,제목입니다3.,내용입니다3.,2024-04-29 10:09:05,4,0,0,1,None
4,5,aaa,제목입니다.,내용입니다.,2024-04-29 12:21:07,5,0,0,1,None
5,7,aaa,제목입니다3.,내용입니다3.,2024-04-29 12:21:07,7,0,0,1,None
6,8,aaa,제목입니다.,내용입니다.,2024-04-29 14:52:48,8,0,0,1,None
7,9,bbb,제목입니다2.,내용입니다2.,2024-04-29 14:52:48,9,0,0,1,None
8,10,aaa,제목입니다3.,내용입니다3.,2024-04-29 14:52:48,10,0,0,1,None